header {
    height: 100vh;
    max-width: 90%;
    margin: 0 auto;
    text-align: center;
    .head-container {
        @include center;
        opacity: 0;
        transform: translatey(-400px);
        height: 100vh;
        animation: headeranim 2s ease forwards;
        @media screen and (max-width: 820px) {
            max-height: 100%;
        }
        
        div > * {
            margin-bottom: 40px ;
            
        }
            
            a {
                margin-top: 40px;
                @include circle;
                width: 50px;
                height: 50px;
                padding: 20px;

                &:hover {
                    @include hover-fas;
                    
                }
                
            }
            p {
                color: $color1;
                font-style: italic;
                letter-spacing: 1ox;
                @media screen and (max-width: 820px) {
                    font-size: 1rem;
                }
            }
    }
    nav {
        display: flex;
        justify-content: space-between;
        border: 1px solid rgba(255, 255, 255, 0.101);
        background-color: $colorbacknav;
        max-width: 100%;
        position: absolute;
        bottom: 0;
        width: 80%;
        left: 50%;
        transform: translateX(-50%);
        @media screen and (max-width: 820px) {
            display: none;
        }
      

        }
        ul {
            display: flex;
            justify-content: space-between;
        }
        ul:first-child {
            &:hover li:not(:hover) {
                background: none;
                color: white;
              }
            li {
                &:hover {
                    background: $color1;
                    color: black;
                  }
            }
            li:first-child {
                background-color: $color1;
                color: black;
                
            }


        }

        ul :last-child {
            margin-right: 10px ;
        }
        li {
            padding: 30px 10px;
            margin-right: 20px;
            color: $color1;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-weight: 800;
            font-size: 0.8rem;
        }
        i {
            color: $color1;
            font-size: 1.2rem;
            transition: 0.4s;
            &:hover {
                @include hover-fas;
            }
            
        


    }
}