
body {
    margin: 0;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url('./assets/img/hd-wallpaper-5063474_1920.jpg') center/cover;

}
.timer-box {
    height: 150px;
    width: 400px;
    /* background-color:slateblue; */
    opacity: 0.7;
   /*  box-shadow: -13px 14px 9px #2e3953; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    
    
}

h2{
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 2.7rem;
    color: rgba(1, 1, 1, 0.863);
    text-shadow: -3px -2px 5px black;
}

.back {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    margin: 0 15px;
    background-color: slateblue;
    color: rgb(246, 246, 245);
    font-size: 4.8rem;
    width: 100%;
}
.timer-box span.text {
    height: 100%;
    font-size: 1rem;
    background-color: darkblue;
}


#am-pm {
    background-color: rgb(12, 162, 70);
    font-size: 3rem;
    text-transform: uppercase;
    position: absolute;
    bottom: 15px;
    
}