.formulaire {


    form{
        padding: 50px ;
        text-align: left;
        & > * {
            margin-bottom: 30px;
        }
        #send{
            margin-bottom: 20px;
        }
        
    }
    
}




