.section-1 {
    div:first-child {
        position: relative;
        width: 80%;
        height: 100%;
        margin: 0 auto;
        & > * {
            margin: 30px auto;
        }
    }
    img {
        width: 100%;
    }

    h3 {
        font-size: 0.8rem;
        font-weight: normal;
        letter-spacing: 1px;
        &::before, &::after {
            content: "";
            height: 1px;
            width: 35%;
            
            background-color: rgba(193, 192, 192, 0.735);
            position: absolute;
            opacity: 0;
            transform: translate(0%, 5px);
            animation: animBefor 2s ease forwards;
            animation-delay: 0.5s;
        }
        &::before {
            left: 0%;
        }
        &::after {
            right: 0%;
        }
    }
    p {
        font-style: italic;
        line-height: 20px;
        font-weight: 100;
        font-size: 0.8rem;
        max-width: 80%;
        margin: 0 auto;
    }
}